<div class="invoice-detail-container">
  <h2 class="invoice-title">Invoice Details</h2>

  <div class="invoice-info">
    <div class="info-row">
      <label class="info-label">Invoice Number:</label>
      <span class="info-value">{{ invoice?.invoice_number }}</span>
    </div>
    <div class="info-row">
      <label class="info-label">Date:</label>
      <span class="info-value">{{ invoice?.date }}</span>
    </div>
    <div class="info-row">
      <label class="info-label">Netto Amount:</label>
      <span class="info-value">{{ invoice?.netto_amount | number:'1.2-2' }} EUR</span>
    </div>

    
    <div class="info-row">
      <label class="info-label">Supplier:</label>
      <span class="info-value">{{ supplierName }}</span>
    </div>

    
    <div class="info-row">
      <label class="info-label">Cost Name:</label>
      <span class="info-value">{{ typeOfCostName }}</span>
    </div>

    
    <div class="info-row">
      <label class="info-label">Cost Center Name:</label>
      <span class="info-value">{{ costCenterName }}</span>
    </div>
  </div>
</div>
