<div class="administration">
    <h1 class="section-title">Authentication and Authorization</h1>
    <ul>
      <li class="list-item">
        <a class="category-link" routerLink="/user">User</a>
        <button class="add-button" (click)="navigateToAdd('user')">
          <span class="icon">+</span> Add
        </button>
      </li>
    </ul>
  
    <h1 class="section-title">Invoice</h1>
    <ul>
      <li class="list-item">
        <a class="category-link" routerLink="/cost-center">Cost Center</a>
        <button class="add-button" (click)="navigateToAdd('cost-center')">
          <span class="icon">+</span> Add
        </button>
      </li>
      <li class="list-item">
        <a class="category-link" routerLink="/type-of-cost">Type of Cost</a>
        <button class="add-button" (click)="navigateToAdd('type-of-cost')">
          <span class="icon">+</span> Add
        </button>
      </li>
      <li class="list-item">
        <a class="category-link" routerLink="/supplier">Supplier</a>
        <button class="add-button" (click)="navigateToAdd('supplier')">
          <span class="icon">+</span> Add
        </button>
      </li>
    </ul>
  </div>
  