/* home.component.scss */

.invoice-container {
  position: relative; // Omogućava da se gumb pozicionira apsolutno unutar ovog kontejnera
}

h1 {
  margin-bottom: 20px;
}

.add-invoice-btn {
  position: absolute; // Omogućava da se gumb pozicionira unutar .invoice-container
  top: 20px; // Udaljenost od vrha
  right: 20px; // Udaljenost od desnog ruba
  z-index: 10; // Osigurava da je gumb iznad drugih elemenata
}

/* Stil za tablicu i sjenu */
table {
  width: 100%;
}

.mat-elevation-z8 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.mat-icon {
  margin-right: 8px; // Razmak između ikone i teksta
}

.mat-button {
  display: flex; // Omogućuje centriranje sadržaja unutar gumba
  align-items: center; // Poravnanje ikone i teksta u sredinu
}
